<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
</head>
<body>
    

    <h1>Form to add a new product</h1>

    <form action="/products" method="POST">
        <div>
            <label for="naam">Name:</label>
            <input type="text" name="name" id="naam">
        </div>
        <div>
            <label for="Image">Image:</label>
            <input type="text" name="img" id="Image">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" name="price" id="price">
        </div>
        <div>
            <label for="stock">In Stock:</label>
            <input type="text" name="instock" id="stock">
        </div>
        <div>
            <label for="des">Description:</label>
            <textarea name="desc" id="des" rows="3"></textarea>
        </div>

        <button type="submit">Add Product</button>
    </form>

</body>
</html>