*{
    padding: 0;
    margin: 0;
}

div{
    height: 100px;
    width: 100px;
    border: 5px solid black;

    /* border-radius: 50%; */


    /* border-top: 10px;
    border-top-style: solid;
    border-top-color: red;

    border-right: 2px;
    border-right-style: solid;
    border-right-color: rgb(115, 255, 0);


    border-left: 40px;
    border-left-style: dotted;
    border-left-color: rgb(38, 0, 255);

    border-bottom: 22px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(255, 0, 195); */

    

}