<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>GET</h1>
    <form action="/cwc" method="GET">
        <label for="naam">Username:</label>
        <input type="text" name="user" id="naam">

        <label for="secret">Password:</label>
        <input type="password" name="pass" id="secret">

        <button type="submit">Australia</button>
    </form>

    <br><hr><br>

    <h1>POST</h1>
    <form action="/cwc" method="POST">
        <label for="naam">Username:</label>
        <input type="text" name="user" id="naam">

        <label for="secret">Password:</label>
        <input type="password" name="pass" id="secret">

        <button type="submit">India</button>
    </form>

</body>
</html>